%ul.thumbnails
  - pictures.each_with_index do |picture, index|
    %li.span3
      .thumbnail
        %a{href: "#picture-#{index}", :'data-toggle' => 'lightbox'}
          = image_tag picture.png_file.url(:converted), title: picture.original_file_name
        .caption
          - if show_checkboxes
            %a.download-icon{href: download_picture_path(picture.id), title: 'Download Picture'}
            .check
              %input{type: 'checkbox', name: 'picture_id[]', value: picture.id, id: "check-#{picture.id}"}
              %label{for: "check-#{picture.id}"}
          %h5= picture.original_file_name

        .lightbox.fade{id: "picture-#{index}", style: 'display:none'}
          .lightbox-content
            = image_tag picture.png_file.url(:converted), title: picture.original_file_name